<div *ngIf="cartItems.length === 0; ">
  <p>Jelenleg a kosár üres, vásárolj be!</p>
</div>
<div *ngFor="let item of cartItems; let i = index">
  <div class="cart-item">
    <img [src]="item.imageUrl" alt="Product Image">
    <h3>{{ item.name }}</h3>
    <p>Price: {{ item.price }}</p>
    <button (click)="removeFromCart(i)" mat-fab color="primary" aria-label="Eltávolítás">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<div class="summary">
  <h3>Összegzés</h3>
  <p>Összesen: {{ total }} HUF</p>
</div>
<button (click)="clearCart()">Kosár ürítése</button>
<button (click)="goBack()">Vissza</button>